body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  color:  rgb(100, 100, 100);
}
.mainScreen {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.mainScreen div h1{
  opacity: .2;
  font-size: 70px;
  display: flex;
  justify-content: center;
}

button {
  height: 50px;
  width: 80px;
  border: none;
  background-color: rgb(100, 100, 100);
  border-radius: 5%;
  color: white;
}